<!-- Feature Section -->
    <section id="features" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Workshop Features</h2>
                    <p class="text-left">
                        Text generation has become a critical component in modern AI applications such as chatbots and agentic assistants. 
                        To combat hallucinations and provide trustworthy output, retrieval augmented generation (RAG) is the current norm for information-dense tasks. 
                        Report Generation is a long-form RAG task with strict attestation requirements that makes it well-suited to explore questions 
                        of RAG evaluation and multilingual generation. 
                        In this task, a long-form report summarizing the relevant information in a corpus is generated in response to a report request, 
                        which consists of a user background and an information need. The generated report should provide proper attribution 
                        to the source documents to establish trust.
                    </p>
                    <p class="text-left">
                        RAG4Reports would like to draw the attention of the ACL community to developing systems and evaluation methods for the 
                        Multilingual Report Generation, which can lead to more general solutions for other long-form RAG problems as well.  
                    </p>
                    <br />
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-newspaper-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Grounded Generation</h4>
                    <p class="text-muted">Strong focus on groundedness and citation supports.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Multilingual RAG</h4>
                    <p class="text-muted">Incorporating information in different languages is critical for effective RAG. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Long Generation</h4>
                    <p class="text-muted">Paragraphs on coherent and information-dense responeses.</p>
                </div>
            </div>
        </div>
    </section>